---
interface Props {
  title?: string;
}

const { title = 'Federal Retirement Planner' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <style>
      @import "../styles/global.css";
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
